* {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-main;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: $font-main;
  font-size: $font-size-16;
}
body {
  font-family: $font-main;
}
